{% extends 'base.html' %}
{% block content %}
<div class="card col-12">
    <h1 class="card-header">Мои продажи</h1>
      {% for i in order_for_sale %}
      <br>
      <ul>
        <li>
          <h5>Товары: <b>{{ i.product }}</b></h5>
          <h5>Общая сумма заказа: <b>{{ i.price }}</b></h5>
          <h5>Адрес выдачи заказа: <b>{{ i.order.postal_code }}, {{ i.order.city }}, {{ i.order.address }}</b></h5>
          <h5>Дата покупки: <b>{{ i.order.created }}</b></h5>
          <h5>Трек номер: <b>1321312313131</b></h5>
          <h5>Статус оплаты: <b>Не оплачен</b></h5>
          <h5>Статус заказа: <b>{{ i.order.status_order }}</b></h5>
          <a href="{% url 'orders:ordersales_detail' i.id  %}" class="btn btn-primary">
            Подробнее
          </a>
          <a class="btn btn-info" href="{% url 'orders:pdf_view' i.id%}" target="_blank">View Invoice</a>
          <a class="btn btn-info"  href="{% url 'orders:pdf_download' i.id%}">Download Invoice</a>
        </li>
        </ul>
    {% if not forloop.last %}
    <hr>
    {% endif %}
{% endfor %}
{% endblock %}