{% extends 'base.html' %}
{% block title %}
    Корзина покупок
{% endblock %}
{% block content %}
{% comment %} <form
  action="."
  method="post"
  name="table"
>
{% csrf_token %}    {% endcomment %}
  <table class="table">
    <thead>
        <tr class="table-warning">
            <th>#</th>
            <th>Наименование товара</th>
            <th>Кол-во в корзине</th>
            <th class="num">Цена за ед.</th>
            <th class="num">Итоговая цена</th>        
            <th>Редактировать</th>
        </tr>
    </thead>
  
    <tbody>
        {% for item in cart %}
        {% with product=item.product %}
        <tr>
            <th scope="row">
                {% comment %} <input
                  class="form-check-input"
                  type="checkbox"
                  id="flexCheckDefault"
                > {% endcomment %}
                {{ forloop.counter }}</th>
            <td>{{ product.name }}</td>
            <td>
                {% comment %} {% if item.quantity > product.count %}
                {{ product.count }}
                {% else %} {% endcomment %}
                <a href="{% url 'cart:item_decrement' product.id %}">-</a>
                {{ item.quantity }}
                <a href="{% url 'cart:item_increment' product.id %}">+</a>
                {% comment %} {% endif %} {% endcomment %}
            </td>
            <td class="num">${{ item.price }}</td>
            <td class="num">${{ item.total_price }}</td>        
            <td>
            <a href="{% url "cart:cart_remove" product.id %}">
                Удалить
            </a>
            </td>
        </tr>  
        {% endwith  %}
        {% endfor %}
    </tbody>
  </table>
  {% comment %} <input type="submit" value="Удалить" />
</form>  {% endcomment %}
  <a href="{% url "cart:cart_clear" %}">
    Очистить
  </a>
  <a
    href="{% url "orders:order_create" %}"
    class="button"
  >
    Checkout
  </a>
{% endblock %}