{% extends 'base.html' %}
{% block title %}
    Корзина покупок
{% endblock %}
{% block content %}
<form
  action="."
  method="post"
  name="table"
>
{% csrf_token %}   
  <table class="table">
    <thead>
        <tr class="table-warning">
            <th>#</th>
            <th>Наименование товара</th>
            <th>Кол-во в корзине</th>
            <th class="num">Цена за ед.</th>
            <th class="num">Итоговая цена</th>        
            <th>Редактировать</th>
        </tr>
    </thead>
  
    <tbody>
        {% for item in cart %}
        {% with product=item.product %}

        <tr>
            <th scope="row">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="flexCheckDefault"
                >
                {{ forloop.counter }}</th>
            <td>{{ product.name }}</td>
            <td>
                {% comment %} {% if item.quantity > product.count %}
                {{ product.count }}
                {% else %} {% endcomment %}
                {{ item.quantity }}
                {% comment %} {% endif %} {% endcomment %}
            </td>
            <td class="num">${{ item.price }}</td>
            <td class="num">${{ item.total_price }}</td>        
            <td>
            <a href="{% url 'cart:cart_remove' product.id %}">
                Удалить
            </a>
            </td>
        </tr>  
        {% endwith  %}
        {% endfor %}
    </tbody>
  </table>
</form>
  <a href="{% url 'cart:cart_clear' %}" class="btn btn-primary">
    Очистить
  </a>
  <div align="right">
  <a href="{% url 'orders:order_create' %}" class="btn btn-primary">
  Оформить заказ
  </a>
  
  </div>
{% endblock %}