<nav>
    <div>
      <div class="row">
        <h1>ШАПКА</h1>
        <ul class='menu'>
            <li class="active">
              <a href="{% url 'cart:cart_detail' %}">
                Корзина
                {% for item in cart %}
                {{ item.quantity }}
                {% endfor %}
              </a>
            </li>
            <li>
              <a>{{ user.username }}</a>
            </li>
        
            {% if user.is_authenticated %}
            <li>
              <a href="{% url 'user:logout' %}"> Выйти </a>
            </li>
            {% else %}
            <li>
              <a href="{% url 'user:login' %}"> Войти </a>
            </li>
            <li>
              <a href="{% url 'user:registration' %}"> Зарегистрироваться </a>
            </li>
            {% endif %}
        </ul>
      </div>
    </div>
</nav>