{% load static %}
<nav class="navbar navbar-light" style="background-color: #90EE90">
  <div class="container">
    <a class="navbar navbar-expand-lg" href="{% url 'sales_backend:index' %}">
      <img src="{% static 'img/logo.png'%}" width="100" height="30" class="d-inline-block align-top" alt="">
        <span>AGRO</span><span>TORG</span>
    </a>
    <ul class="nav nav-pills">
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'orders:order_list' user.username %}">
      <span style=color:red>Мои покупки</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'orders:ordersales' user.username %}">
      <span style=color:red>Мои продажи</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'orders:dialogs'%}">
      <span style=color:red>Сообщения</span></a>
    </li>
    
    {% if perms.sales_backend.add_product %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'sales_backend:create_product' %}">
      <span>Добавить товар</span></a>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'sales_backend:contact' %}">
      <span>Стать продавцом</span></a>
    </li>
    {% endif %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'cart:cart_detail' %}">
      <span>Корзина</span></a>
    </li>
    <li class="nav-item"> 
      <a class="nav-link link-light" href="{% url 'users:password_change_form' %}">Изменить пароль</a>
    </li>
    <li class="nav-item"> 
      <a class="nav-link link-light" href="{% url 'users:logout' %}">Выйти</a>
    </li>
    <li>
      Пользователь: {{ user.username }}
    <li>
      {% else %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'users:login' %}">
        <span style="color:red">Войти</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'users:signup' %}">
      <span>Зарегистрироваться</span></a>
    </li>
      {% endif %}
    <li class="nav-item">
      <form action="{% url 'sales_backend:search_results' %}" method="get">
        <input name="q" type="text" placeholder="Search...">
      </form>
    </li>
    </ul>
  </div>
</nav>
