{% extends 'base.html' %}
{% block title %} {{ product_pk.name|truncatewords:30 }} {% endblock title %}
{% block content %}
<div class="row">
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
      <b>Наименование:</b> {{ product_pk.name }}
      </li>
      <li class="list-group-item">
      <b>Категория:</b> {{ product_pk.product_group }}
      </li>
      <li class="list-group-item">
      <b>Цена:</b> {{ product_pk.price }}
      </li>
      <li class="list-group-item">
      <b>Описание:</b> {{ product_pk.description }}
      </li>
      {% for i in rating %}
      <li class="list-group-item">
        <b>Рейтинг:</b> {{ i.rating|truncatechars:4 }}
        </li>
      {% endfor %}
      <li class="list-group-item">
      <b>Скидка:</b> При заказе от 100шт. = 5%
      </li>
      <br>
      <br>
      {% if not user.username %}
      <button class="btn btn-primary" href="{% url 'users:signup' %}">
        Добавить в корзину
      </button>
      {% else %}
        <form 
          action="{% url 'cart:cart_add' product_pk.id %}"
          method="post"
        >
          {{ cart_product_form }}
          {% csrf_token %}
          <button class="btn btn-primary">
            Добавить в корзину
          </button>
        </form>
        {% include 'sales_backend/includes/comments.html' %}
      {% endif %}
    </ul>
  </aside>
</div> 
{% endblock %}